@import "nib"
@import "normalize.styl"
@import "icons.styl"
@import url(http://fonts.googleapis.com/css?family=Open+Sans)

//mixins

redondo(parametro)
	border-radius parametro

//variables
gris_claro = #818181
rojito = #9d0000

//valores por defecto
a
	text-decoration none
body
	font-size 16px
	font-family: 'Open Sans', sans-serif;
	background url('../img/bg2.png')
figure
	margin 0
img 
	vertical-align top
ul
	margin 0
	padding 0
li
	list-style none

//oocss
.header	
	background black
	position relative
	height 3.5em
	.logo
		padding .5em
		position relative
		.logo_new
			position absolute
			left 2em
			top 1em
	.menu
	.search
		color gris_claro
		float right
		position absolute
		top 0
		right 0
		margin-left .5em
		&:hover
			color white
	.menu 
		right 4em
.searchGlobal
	text-align center
	background black
	margin 0 auto
	padding .3em
	border-top 1px solid gris_claro
	.searchStore
		color gris_claro
		border 1px solid gris_claro
		background black
		padding .5em
		margin-left .5em
		redondo(5px)
		&:hover
			border 1px solid white
.navigation
	background black
	margin 0 auto
	border-top 1px solid gris_claro
	text-align center
	.pestanitas
		padding .3em
		text-align center
		display inline-block
		&:nth-child(1)
		&:nth-child(2)
			border-right 1px solid gris_claro
		.pestanas
			color gris_claro
			text-transform uppercase
.container
	padding 1em
	.description
		margin 0 auto
		.price
		.love
		.reviews
			margin-right .3em
			display inline-block
		.reviews
			color gris_claro
.slider
	margin 0 auto
	.slider1
		width 100%
		height auto
		redondo(5px)
.contenedor-images
	text-align center
	padding-top .8em
	.carruselito
		display inline-block
		.thumb
			.images
				redondo(5px)
.options
	margin 0 auto
	padding 1em
	width 100%
	text-align center
	.field-quantity
	.field-size
		border 1px solid black
		height 1.5em
		redondo(5px)
		margin 0 auto
		width 40%
		display inline-block
	.quantity 
		width 80px
		border-left 1px solid black
	.size
		border-left 1px solid black
.botonAddCard
	padding .5em
	redondo(10px)
	height 1.5em;
	background rojito
	margin .5em 0 0 0
	text-align center
	p
		margin-top .1em
		color white
.love
	color red
//utilities
.center-block
	margin 0 auto
	text-align center
.relative
	position relative
.border-left
	border-left 1px solid gris_claro